.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-grey);
}

.toggle {
  font-size: 1.5rem;
  color: var(--color-text);
  cursor: pointer;
  background-color: transparent;
  transition: all 150ms ease-out;
}

.toggle:hover {
  color: var(--color-accent);
  transform: scale(1.1);
}

.filters {
  display: flex;
}

.filter {
  margin: 0.3rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-accent);
  text-transform: capitalize;
  background-color: transparent;
  opacity: 0.8;
}

.filter:hover,
.filter.selected {
  opacity: 1;
}

.filter.selected::after {
  display: block;
  margin-top: 0.2rem;
  content: '';
  border: 1px solid var(--color-text);
}
