.main {
  height: 100%;
  padding: 1.2em 0.7em;
  background-color: #212338;
}

.todo_list {
  padding: 0;
  margin: 0;
}

.todo_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  list-style-type: none;
}

.item_left {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 1.2em;
  height: 1.2em;
}

.checkbox:checked + .content {
  color: #808080;
  text-decoration: line-through;
}

.content {
  font-size: 0.9em;
  color: #fff;
}

.item_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
  background-color: #808080;
  border-radius: 50%;
}

.item_right svg {
  color: #fff;
}
