.todoList {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3e424e;
}

.todoListSection {
  width: 400px;
  height: 480px;
  background-color: #fff;
  border-radius: 8px;
}
