:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: #fdfffd;
  --color-grey: #d1d1d1;
  --color-text: #22243b;
  --color-accent: #f16e03;
  --color-white: #fff;
  --color-scrollbar: #aaa7a7;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  accent-color: var(--color-accent);
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(81, 87, 111);
  background: linear-gradient(
    106deg,
    rgba(81, 87, 111, 1) 0%,
    rgba(60, 61, 69, 1) 100%
  );
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 60%;
  overflow: hidden;
  background-color: var(--color-bg-dark);
  border-radius: 1rem;
  -moz-box-shadow: 9px 7px 20px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 7px 20px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 9px 7px 20px 0 rgba(0, 0, 0, 0.75);
}

code {
  font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New',
    monospace;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}
